// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#image_front
{
	width : 1000px;
	height : 400px;
	margin-bottom : 10px;
	box-shadow: 2px 2px 2px rgba(44, 62, 80,1.0);
}

.button
{
	background-color: #3498db;
}
