@font-face
{
    font-family: 'amble-regular';
    src: url('font/Amble-Regular-webfont.eot') format('eot'),
    url('font/Amble-Regular-webfont.woff') format('woff'),
    url('font/Amble-Regular-webfont.ttf') format('truetype'),
    url('font/Amble-Regular-webfont.svg') format('svg');
}

@font-face
{

    font-family:'sansita-one';
    src: url('font/Amble-Regular-webfont.eot') format('eot'),
    url('font/Amble-Regular-webfont.woff') format('woff'),
    url('font/Amble-Regular-webfont.ttf') format('truetype'),
    url('font/Amble-Regular-webfont.svg') format('svg');
}

@font-face
{
    font-family: 'alegreya-regular';
    src: url('font/Alegreya-Regular-webfont.eot') format('eot'),
    url('font/Alegreya-Regular-webfont.woff') format('woff'),
    url('font/Alegreya-Regular-webfont.ttf') format('truetype'),
    url('font/Alegreya-Regular-webfont.svg') format('svg');
}

@font-face
{
    font-family: 'plump';
    src: url('font/PLUMP-webfont.eot') format('eot'),
    url('font/PLUMP-webfont.woff') format('woff'),
    url('font/PLUMP-webfont.ttf') format('truetype'),
    url('font/PLUMP-webfont.svg') format('svg');
}

header h1.title
{
    z-index:2;
    font-size:3.3em;
    font-family:'sansita-one';
    margin:auto;
    padding:20px;
    text-align:center;
}


article h1#title
{
    font-weight:bold;
    font-family:'sansita-one';
    z-index:1;
    position:relative;
    left:-1%;
    top:-34px;
    background-color:#E67E22;
    color:whitesmoke;
    padding:10px;
    text-align:center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0,0.2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0,0.3);
    display:inline-block;
}

article h1#date
{
    color:green;
    text-align:center;
}

.result
{
    z-index:2;
    padding-top:-20px;
}

.thumbnail h1
{
    background-color:#bdc3c7;
    color:green;
}

.attributes
{
    border-radius:4px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0,0.4);
}

.thumbnail-large
{
    background-color:#FEFEFE;
    margin-bottom:40px;
}

.thumbnail
{
    background-color:whitesmoke;
    display:inline-block;
    text-align:center;
    color:black;
    margin:20px;
    width:200px;
    height:150px;
}

article .results
{
    border-radius:4px;
    background-color:whitesmoke;
    box-shadow: 3px 3px 3px rgba(0, 0, 0,0.4);

    text-align:center;
}

.my-article
{
    margin-top:20px;
}
